body {
    background: rgb(248, 248, 245);
}

h1 {
    color: rgb(12, 2, 17);
}

.wrapper {
    width: 600px;
    background: #e4f2d6;
    padding: 100px;
    margin: 100px auto;
    border-radius: 20px;
    position: relative;
}

.icon {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    display: flex;
}

.icon div {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}

.icon div a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(42, 32, 71);
    font-size: 14px;
}

.icon div.kindai {
    background: #e6d89b;
}

.icon div.niigata {
    background: #e6d89b;
}

.icon div.bandai {
    background: #e6d89b;
}

img {
    border-radius: 10%;
}
